# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.coverage
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints

# Virtual Environment
venv/
ENV/
env/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Docker
.docker/
docker-compose.override.yml

# MLflow
mlruns/
checkpoints/

# Temporary data
temp_data/
*.csv
!examples/temp_data/sample_data.csv

# Logs
logs/
*.log 